<div id="edit" class="edit-profile-section">
    <div class="edit-info">
        <h1>Rediger din profil</h2>
        <h2 class="roboto-regular">Hold personopplysningene dine private. Informasjonen du legger til her, er synlig for alle som kan se profilen din.</h2>
    </div>
    <form action="/profile/update" method="POST" enctype="multipart/form-data">
      <label class="roboto-regular" for="username">Brukernavn:</label>
      <input type="text" id="username" name="username" value="<%= user.username %>" />
        <br>
      <label class="roboto-regular" for="profilepicture">Profilbilde:</label>
      <input type="file" name="profilepicture">
        <br>
      <button type="submit">Lagre endringer</button>
    </form>
  </div>
  