<div class="profile-container">
    <div class="information">
        <div class="profilepicture">
            <img src="<%= profilepicture %>" alt="">
        </div>
        <div class="textinfo">
            <h1 class="username"><%= username %></h1>
            <h2 class="email"><%= email %></h2>
            <h2 class="followers">0 Følgere</h2>    
        </div>
        <div class="options">
            <a href="/profile?edit=true" class="edit-profile-button">Edit Profile</a>
        </div>
    </div>
</div>
