<div class="searchbar">
    <div class="search-container">
        <img src="/gfx/search.svg">
        <input type="text" placeholder="Search for ideas...">
    </div>
    
    <a class="profile-button" href="profile">
        <img src="<%= profilepicture %>" alt="">
    </a>
    
    <img src="/gfx/chevron-down.svg" alt="">
</div>
