<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/main.css">
    <script defer src="/javascript/client.js"></script>

    <title>Robertness - 404</title>
</head>
<body>


    <div class="error">
        <div class="text">
            <h1>Error 404</h1>

            <p><%= message %></p>

            <a href="/home">Tilbake til hjem</a>
        </div>
    </div>

</body>

</html>