<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/main.css">
    <script defer src="/javascript/client.js"></script>

    <title>Robertness - Norge</title>
</head>
<body>

    <%- include('components/sidebar') %>

    <div class="main-content">
        <div class="searchbar">
            <div class="search-container">
                <img src="/gfx/search.svg">
                <input type="text" placeholder="Search for ideas...">
            </div>
            
            <a class="profile-button" href="profile"></a>

            <img src="/gfx/chevron-down.svg" alt="">
        </div>
        <div class="grid">
            <% posts.forEach(post => { %>
                <div class="grid-item">
                    <img class="lazyload" src="/images/uploads/<%= post.image %> " alt="Post image">
                    <div class="info">
                        <img class="profilelogo" src="/gfx/logo.png" alt="">
                        <% if (post.posttext !== ``) { %>
                            <p><%= post.posttext %></p>
                        <% } %>
                    </div>
                </div>
            <% }) %>
        </div>        
    </div>
</body>

</html>