<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/fonts.css">

    <script defer src="/javascript/client.js"></script>

      
    <title>Robertness - Norge</title>
</head>
<body class="ubuntu-regular">

    <%- include('components/sidebar') %>

    <div class="main-content">
        <%- include('components/searchbar') %>
        <%- include('components/create-post') %>
    </div>
</body>

</html>