<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/fonts.css">

    <script defer src="/javascript/client.js"></script>
    <title>Robertness - Norge</title>
</head>
<body class="ubuntu-regular">

    <%- include('components/sidebar') %>

    <div class="main-content">
        <%- include('components/searchbar') %>
        <% if (isEdit) { %>
            <%- include('components/edit-profile') %> <!-- This will show the edit form -->
        <% } else { %>
            <%- include('components/main-profile') %> <!-- This will show the regular profile -->
        <% } %>

    </div>
</body>

</html>