<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/registration.css">
    <link rel="stylesheet" href="/css/fonts.css">

    <title>Robertness - Norge</title>
</head>
<body>
    <div class="container ubuntu-regular">
        <img class="logo" src="/gfx/logo.png" alt="">
        <h1>Welcome to Robertness</h1>
        <% if (error) { %>
            <p style="color: red;"><%= error %></p>
        <% } %>
        <form action="/signup" method="POST">
            <h2>Email address</h2>
            <input type="text" name="email" placeholder="Email" required>
            <h2>Password</h2>
            <input type="password" name="password" placeholder="Password" required>
            <input type="password" name="confirmPassword" placeholder="Confirm Password" required>
            <button id="login" type="submit">Continue</button>
        </form>    
        <div class="extra">
            <a href="/login">Already a member? Log in</a>
            <p>By continuing, you agree to Pinterest's 
                Terms of Service
                 and acknowledge that you've read our 
                Privacy Policy
                </p>
        </div>
    </div>
</body>

</html>