* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --off-white: #FAF9F6;  
    --light-gray: #E4E4E4;      
    --charcoal-gray: #1d1d1d;  
    
    --lavender-purple: #dddddd; 
    --muted-teal: #dddddd;      

    --deep-purple: #f2f2f2;    

    --font-size-100: 12px;
    --font-size-200: 14px;
    --font-size-300: 16px;
    --font-size-400: 20px;
    --font-size-500: 28px;
    --font-size-600: 36px;
    --font-size-1000: 52px;

    --color-text-subtle: #767676;
}

body {
    display: flex;
    min-height: 100vh;
    color: var(--charcoal-gray);          /* Main text color set to a deep gray for readability */
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;
    height: 100vh;
    background-color: var(--off-white);
    border-right: 1px solid var(--light-gray);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.sidebar .logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.sidebar .menu {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.sidebar .menu a,
.sidebar .settings button {
    background-color: none;
    text-decoration: none;  
    padding: 5px;
    border-radius: 10px;
    border: none;
    text-align: center;
    cursor: pointer;
}



.sidebar .menu .logo img {
    width: 100%;
    border-radius: 50%;
}


.sidebar .settings {
    margin-bottom: 1rem;
}

.options-container {
    width: 300px;
    height: auto;
    margin-left: 6rem;
    margin-bottom: 2rem;
    position: fixed;
    bottom: 0; 
    left: 0;   
    padding: 10px;

    background-color: var(--off-white);
    border: 1px solid var(--light-gray);

    z-index: 50;

    display: none;
    flex-direction: column;
    gap: 1rem;
}

.options-container img {
    width: 100%;
}

.options-container form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    gap: 0.75rem;
}

.options-container form button{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-align: left;
    font-weight: 600;
    cursor: pointer;
    background-color: var(--lavender-purple);
    color: var(--charcoal-gray);
}

.options-container form button:hover{
    background-color: var(--deep-purple);

}

.sidebar .settings button .active {
    background-color: var(--muted-teal);
}

.main-content {
    margin-left: 80px;
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.searchbar {
    width: 95%;
    height: 5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;

    position: fixed;
    background-color: white;
    z-index: 50;
}

.search-container {
    width: 100%;
    background-color: var(--off-white);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    padding-left: 10px;

}

.searchbar .profile-button {
     
    width: 40px;
    height: 40px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: none;
}

.searchbar .profile-button img { 
    border-radius: 50%;
    width: 100%; 
    height: 100%;
    object-fit: cover; /* Preserve aspect ratio and crop excess */
}

.searchbar input {
    width: 100%;
    padding: 15px;
    font-size: 14px;
    border: none;
    background-color: var(--off-white);
    border-radius: 10px;
    outline: none;
}

.grid {
    margin-top: 5rem;
    column-count: 6; 
    padding: 1rem;
    width: 100%;
}

.grid-item {
    margin-bottom: 1rem;
    background-color: var(--off-white);
    border-radius: 10px;
    border: 1px solid var(--light-gray);
    overflow: hidden;
}

.grid-item .gridPostImage:hover {
    filter: brightness(0.7);
}


.grid-item img {
    width: 100%; 
    height: auto; 
}

.grid-item .info {
    padding: 10px;
    font-size: var(--font-size-200);
}


.grid-item .info {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: first baseline;
    width: 100%;
    height: 50px;
    gap: 1rem;
}

.grid-item .info .imageforgrid {
    height: 2em;
    width: 2em;
}

.grid-item .info .imageforgrid .profilelogo {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}


.profile-container {
    margin-top: 5rem;
    width: 100%;
    padding: 1rem;
    height: 60vh;
    border-bottom: 1px solid var(--light-gray);

    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-container .information {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    

}

.profile-container .information .profilepicture {
    width: 150px; 
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.profile-container .information .profilepicture img {
    width: 100%; /* Scale the image to fill the container */
    height: 100%;
    object-fit: cover; /* Preserve aspect ratio and crop excess */
}

.profile-container .information .textinfo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 0.75rem;
}

.profile-container .information .textinfo .username {
    font-size: var(--font-size-600);
}

.profile-container .information .textinfo .email {
    font-size: var(--font-size-200);
    color: var(--color-text-subtle);
}

.profile-container .information .textinfo .followers {
    font-size: var(--font-size-300);
}


.profile-container .information .options {
    width: auto;
}
.profile-container .information .options .edit-profile-button {
    text-decoration: none;
    color: var(--charcoal-gray);
    padding: 15px;
    border: none;
    background-color: var(--lavender-purple);
    font-weight: 500;
    font-size: var(--font-size-300);
    border-radius: 10px;
}
.profile-container .information .options .edit-profile-button:hover {
    background-color: var(--deep-purple);
}

.post-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    gap: 2rem;
}

.profile-posts {
    width: 50%;
    height: auto;
}

.post-container .infos img {
    cursor: pointer;
    transform: rotate(0);
    margin-bottom: 0.5rem;
}

.post-container .infos {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}


.profile-posts .post_Div {
    display: none;
    transition: max-height 0.3s ease-out;
}


.liked-posts {
    width: 50%;
    height: auto;

}

.liked-posts .post_Div {
    display: none;
}


.post-container h3 {
    font-weight: 500;
    font-size: var(--font-size-400);
    margin-bottom: 1rem;
}

.posts-grid {
    column-count: 5; 
    column-gap: 1rem; 
    width: 100%;
}

.posts-grid .post {
    break-inside: avoid;
    margin-bottom: 1rem;
    background-color: var(--off-white);
    border-radius: 10px;

    position: relative; /* Necessary to position elements inside */
    overflow: hidden; /* Ensures no content spills out */

}

.posts-grid .post img {
    width: 100%; 
    height: auto; 
    display: block; 
}

.posts-grid .post .delete-form {
    position: absolute;
    top: 10px; /* Adjust spacing from the top */
    right: 10px; /* Adjust spacing from the right */
    margin: 0;

}
.posts-grid .post .delete-form button {
    cursor: pointer;
    border: none;
    padding: 5px;
    background-color: var(--charcoal-gray);
    color: white;
}
.posts-grid .post .delete-form button:hover {
    background-color: rgba(255, 0, 0, 0.71);
}


.edit-profile-section {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.edit-profile-section .edit-info {
    display: flex;
    align-items: first baseline;
    flex-direction: column;
    
}
.edit-profile-section .edit-info h2 {
    font-size: var(--font-size-200);
    opacity: 0.7;
    width: 60%;
}

.edit-profile-section form {
    width: 60%;
    display: flex;
    align-items: first baseline;
    flex-direction: column;
    justify-content: space-around;

    gap: 1rem;
}
.edit-profile-section form input {
    padding: 10px;
    font-size: var(--font-size-200);
    border: none;
    border-radius: 10px;
    border: 1px solid var(--light-gray);
}
.edit-profile-section form input  {
    padding: 10px;
    border: none;
    border-radius: 10px;
    border: 1px solid var(--light-gray);
}
.edit-profile-section form button  {
    padding: 10px;
    border: none;
    border-radius: 10px;
    border: 1px solid var(--light-gray);
    background-color: var(--lavender-purple);
    cursor: pointer;
    font-size: var(--font-size-300);
    font-weight: 500;
}
.edit-profile-section form button:hover  {
    background-color: var(--deep-purple);
}

.pin-creation-tool {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
    padding: 1rem;
    width: 100%;
    flex-direction: column;
}

.pin-creation-tool .titlecreation {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: var(--font-size-300);
}

.pin-creation-tool .titlecreation .publishcreation {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.form-container {
    flex: 1 ;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}

.image-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px dashed #cccccc;
    border-radius: 8px;
    text-align: center;
    height: 500px;
    width: 500px;
}

.fileUpload {
    cursor: pointer;
    color: var(--charcoal-gray);
    text-align: center;
    padding: 10px;
    margin: 1rem 1rem 0rem;
}

.fileUpload:hover {
    background-color: var(--off-white);
    border: 2px dashed var(--off-white);
}

.upload-icon {
    font-size: var(--font-size-600);
    margin-bottom: 10px;
    color: var(--charcoal-gray);
}

.recommendation {
    font-size: var(--font-size-100);
    color: var(--muted-teal);
}

.input-fields {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.input-fields h1 {
    text-align: left;
    font-size: var(--font-size-200);
    opacity: 0.7;
}

.input-fields .description,
.input-fields .title {
    padding: 20px;
    border: 1px solid var(--off-white);
    border-radius: 10px;
}

.input-fields .upload {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: var(--lavender-purple);
    color: var(--charcoal-gray);
    cursor: pointer;
    font-size: var(--font-size-300);
    font-weight: 600;

}
.input-fields .upload:hover {
    background-color: var(--deep-purple);
}

.post-detail {
    width: 80%;
    height: 100vh;

    padding: 1rem;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

}

.post-detail .left {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: 75%;
}

.post-detail .left .image {
    height: 100%;
}

.post-detail .left .image img {
   object-fit: cover;
   height: 100%;
   width: 100%;
   border-radius: 20px;
}

.post-detail .right {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 30%;
    height: 75%;
    font-size: var(--font-size-200);
}

.post-detail .right .top {
    width: 100%;
    display: flex;
    justify-content: right;
}

.post-detail .right .top form button {
    padding: var(--font-size-200);
    border: none;
    background-color: var(--lavender-purple);
    color: var(--charcoal-gray);
    border-radius: 10px;
    font-weight: 600;
    font-size: var(--font-size-300);
    cursor: pointer;
}

.post-detail .right .top form button:hover {
    background-color: var(--deep-purple);
}

.post-detail .right .bottom {
    display: flex;
    align-items: first baseline;
    flex-direction: column;
    justify-content: space-evenly;

    height: 100%;
}
.post-detail .right .bottom h2 {
    font-size: var(--font-size-200);
}
.post-detail .right .bottom p {
    font-size: var(--font-size-300);
    text-wrap: balance;
}

.post-detail .right .bottom .postUser {
    display: flex;
    flex-direction: row;
    justify-content: first baseline;
    align-items: first baseline;
    gap: 1rem;
    width: 100%;
    align-items: center;
    flex: 1;
}

.post-detail .right .bottom .postUser .profilepicpost {

    width: var(--font-size-1000);
    height: var(--font-size-1000);    
}

.post-detail .right .bottom .postUser .profilepicpost img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;    
}


.post-detail h2 {
    opacity: 0.7;
    margin-bottom: 1rem;
}

.post-detail .right .bottom .createdAt {
    opacity: 0.7;
}

.menu a.active {
    scale: 1.2;
}


#error {
    color: red;
    margin: 0 auto;
}

button {
    background-color: rgba(0, 0, 0, 0);
}