* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

    color: var(--charcoal-gray);
}

:root {
    /* Neutral Base Colors */
    --off-white: #FAF9F6;       /* Soft off-white, perfect for backgrounds and large sections */
    --light-gray: #E4E4E4;      /* Light gray for secondary backgrounds or borders */
    --charcoal-gray: #1d1d1d;   /* Deep gray, perfect for text and primary UI elements */
    
    /* Accent Color (Purple) */
    --lavender-purple: #A2BDB9; /* Light lavender for highlights, buttons, and links */
    --deep-purple: #527570;     /* Rich purple for important elements like CTA buttons or hover states */

    --muted-teal: #A2BDB9;      /* Muted teal for subtle secondary accents */
}

.container {
    padding-bottom: 1rem;
    padding-top: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 2rem;
    border: 1px solid var(--charcoal-gray);
    height: auto;
    width: 500px;
}

.container h1 {
    font-size: 1.75rem;
}

.container img {
    width: 20%;
}

.logo {
    border-radius: 50%;
}

.container form {
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container form input {
    padding: 10px;
    border-radius: 10px;
    border: solid 1px var(--charcoal-gray);
}

.container form h2 {
    text-align: left;
    width: 100%;
    font-size: 0.75rem;
}

#login {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: var(--muted-teal);
    color: var(--charcoal-gray);
}
#login:hover {
    background-color: var(--deep-purple);
    color: white;
}

.extra {
    font-size: 0.75rem;
    text-align: center;
    width: 80%;
}

