* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;

  color: var(--charcoal-gray);
}

:root {
  --off-white: #faf9f6;
  --light-gray: #e4e4e4;
  --charcoal-gray: #1d1d1d;

  --lavender-purple: #dddddd;
  --muted-teal: #dddddd;

  --deep-purple: #f2f2f2;

  --font-size-100: 12px;
  --font-size-200: 14px;
  --font-size-300: 16px;
  --font-size-400: 20px;
  --font-size-500: 28px;
  --font-size-600: 36px;
  --font-size-1000: 52px;

  --color-text-subtle: #767676;
}

.container {
  padding-bottom: 1rem;
  padding-top: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  gap: 2rem;
  height: auto;
  width: 500px;
}

.container h1 {
  font-size: var(--font-size-400);
}

.container img {
  width: 20%;
}

.logo {
  border-radius: 50%;
}

.container form {
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container form input {
  padding: 10px;
  border-radius: 10px;
  border: solid 1px var(--color-text-subtle);
}

.container form h2 {
  text-align: left;
  width: 100%;
  font-size: var(--font-size-200);
}

#login {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: var(--muted-teal);
  color: var(--charcoal-gray);
}
#login:hover {
  background-color: var(--deep-purple);
  color: rgb(18, 17, 17);
}

.extra {
  font-size: var(--font-size-100);
  text-align: center;
  width: 80%;
}

.google {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  background-color: #1d1d1d;
}
.google svg {
  height: 100%;
  width: auto;
  padding-right: 10px;
}
.google svg path {
  height: 100%;
  fill: var(--muted-teal);
}
.google h1 {
  color: var(--muted-teal);
  font-size: var(--font-size-200);
  text-decoration: none;
}
